# https://EditorConfig.org

# top-most EditorConfig file
root = true

# Apply to all code files
[*]
# A newline ending every file
insert_final_newline = true

# Set default charset
charset = utf-8

# 4 space indentation
indent_style = space
indent_size = 2

# Various options
trim_trailing_whitespace = true

cpp_new_line_before_open_brace = never
cpp_new_line_before_else = false
cpp_new_line_before_catch = false
cpp_new_line_before_finally = false
cpp_new_line_before_members_in_object_initializers = false
cpp_new_line_before_members_in_anonymous_types = false
cpp_new_line_between_query_expression_clauses = false
#brace_style = end_of_line
#cpp_invocable_declaration_braces = end_of_line